@import 'src/styles/colors';

.profile__button {
    display: block;
    box-shadow: $box-shadow;
    cursor: pointer;

    &:hover, &:focus {
        box-shadow: $active-box-shadow;
    }
}

.profile__container {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    z-index: 2;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background: $background-color;
}

.profile__container_dark {
    background-color: $background-color-dark;
}

.profile__panel {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    height: 448px;
    width: 320px;

    background: $background-color;
    border-radius: 2px;
    padding: 2rem;
}

.profile__panel_dark {
    background-color: $background-color-dark;
}

.profile__close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.profile__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile__title {
    display: flex;
    flex-flow: row;
    justify-content: center;

    color: $main-color;
}

.profile__slider-button {
    background: $background-color;
    border: none;
    color: $main-color;
    cursor: pointer;
    font-weight: bold;

    &:focus {
        outline: none;
    }
}

.profile__slider-button_dark {
    background: $background-color-dark;
}

.profile__slider-button_active {
    border-bottom: 2px solid $main-color;
}

.profile__form {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    height: 50%;

    > input[type=submit] {
        height: 36px;

        border: transparent;
        background-color: $main-color;
        color: $secondary-color;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}

@media screen and (min-width: 992px) {
    .profile__container {
        top: calc(36px + .5rem);
        right: calc(36px + .5rem);

        height: 448px;
        width: 320px;
    }

    .profile__panel {
        box-shadow: $box-shadow;
    }
}