@import "src/styles/shared";

.path {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    width: 200px;
    height: calc(72px + 0.5rem);

    > div {
        width: 200px;
    }
}

@media screen and (min-width: 992px) {
    .path {
        flex-flow: row;

        width: calc(400px + 0.5rem);
        height: 36px;
    }
}