$main-color: #65499C;
$secondary-color: #ffffff;
$input-color: #ACACAC;
$background-color: #ffffff;
$hover-color: #E0E0E0;

$main-color-dark: #65499c;
$secondary-color-dark: #ffffff;
$input-color-dark: #ACACAC;
$background-color-dark: #1F2023;
$hover-color-dark: #000000;

$box-shadow: 0 1px 8px rgba(0, 0, 0, 0.12), 0 3px 4px rgba(0, 0, 0, 0.14), 0 3px 3px rgba(0, 0, 0, 0.2);
$active-box-shadow: 0 1px 18px rgba(0, 0, 0, 0.12), 0 6px 10px rgba(0, 0, 0, 0.14), 0 3px 5px rgba(0, 0, 0, 0.2);