.login-form {
    display: flex;
    flex-flow: column;
}

.login-form__item {
    display: flex;
    flex-flow: column;
    margin: .5rem .5rem 0;
}

.login-form__label {
    margin-bottom: 0;
    text-align: center;
}

.login-form__input {
    width: 100%;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.login-form__button {
    width: 100%;
    padding: .375rem .75rem;
    border: 1px solid #343a40;
    border-radius: .25rem;
    background-color: #343a40;
    color: #fff;
    cursor: pointer;
}

.login-form__button {
    margin: .5rem 0 0 0;
    overflow: hidden;
}

@media screen and (min-width: 992px) {
    .login-form {
        flex-flow: row;
        align-items: flex-end;
    }

    .login-form__item {
        min-width: 0;
        width: calc(25% - .5rem);
        margin: 0 .5rem 0 0;
    }
}