@import "src/styles/shared";

.login-form {
    display: flex;
    flex-flow: column;
    margin: 0;
}

.login-form__item {
    display: flex;
    flex-flow: column;
    margin: 0 0 0.5rem;

    &:last-of-type {
        margin: 0;
    }
}

.login-form__label {
    margin-bottom: 0;
    text-align: center;
}

.login-form__input {
    @extend %input
}

.login-form__button {
    @extend %button;

    margin: .5rem 0 0 0;
}

@media screen and (min-width: 992px) {
    .login-form {
        flex-flow: row;
        align-items: flex-end;
        margin: 0 0 0 0.5rem;
        width: 40%;
    }

    .login-form__item {
        min-width: 0;
        width: calc(25% - .375rem);
        margin: 0 0 0 0.5rem;

        &:first-of-type {
            margin: 0;
        }

        &:last-of-type {
            margin: 0 0 0 0.5rem;
        }
    }
}