@import "src/styles/shared";

.input-form {
    display: flex;
    flex-flow: column;
}

.input-form__item {
    display: flex;
    flex-flow: column;
    margin: 0 0 0.5rem;
}

.input-form__label {
    margin-bottom: 0;
    text-align: center;
}

.input-form__select {
    @extend %input;
}

@media screen and (min-width: 992px) {
    .input-form {
        flex-flow: row;
        margin-right: auto;
        width: 40%;
    }

    .input-form__item {
        width: calc((100% - 1rem)/3);
        margin: 0 0.5rem 0 0;

        &:last-of-type {
            margin: 0;
        }
    }
}