@import 'src/styles/colors';

$success-color: #28a745;
$warning-color: #ffc107;
$danger-color: #dc3545;

.alert {
    position: relative;

    height: 36px;
    padding: .5rem 1.5rem .5rem .5rem;

    box-shadow: $box-shadow;
    border: 1px solid transparent;
    border-radius: 2px;
}

.alert_success {
    color: #ffffff;
    background-color: $success-color;
}

.alert_warning {
    color: #212529;
    background-color: $warning-color;
}

.alert_danger {
    color: #fff;
    background-color: $danger-color;
}

.alert_in-panel {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    padding: 0;

    box-shadow: none;
    color: $danger-color;
    background-color: #ffffff;
}

.alert__close-button {
    display: none;
}

@media screen and (min-width: 992px) {
    .alert_in-panel {
        display: none;
    }

    .alert__close-button {
        display: block;
        position: absolute;
        top: .25rem;
        right: .25rem;
        cursor: pointer;
    }
}