.alert {
    flex-shrink: 0;
    padding: .375rem .75rem;
    margin: 0.5rem 0;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert_success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.alert_warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.alert_danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

@media screen and (min-width: 992px) {
    .alert {
        margin: 0;
    }
}