.control-panel {
  text-align: center;
}

.control-panel-selector {
  display: inline-block;
  margin-right: 10px;
}

.control-panel-selector label, select {
  display: block;
}

#map {
  height: calc(100vh - 70px);
}