@import 'src/styles/colors';

.settings__button {
    display: block;
    box-shadow: $box-shadow;
    cursor: pointer;

    &:hover, &:focus {
        box-shadow: $active-box-shadow;
    }
}

.settings__container {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    z-index: 2;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background: white;
}

.settings__panel {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    height: 448px;
    width: 320px;

    background: white;
    border-radius: 2px;
    padding: 2rem;
}

.settings__close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.settings__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.settings__title {
    display: flex;
    flex-flow: row;
    justify-content: center;

    height: 5%;

    color: $main-color;
}

.settings__form {
    height: 50%;
}

.settings__select {
    width: 100%;
    border: none;
    border-bottom: 1px solid $input-color;

    &:focus {
        outline: none;
    }
}

@media screen and (min-width: 992px) {
    .settings__container {
        top: calc(36px + .5rem);
        right: calc(36px + .5rem);

        height: 448px;
        width: 320px;
    }

    .settings__panel {
        box-shadow: $box-shadow;
    }
}